File dan Folder Umum yang Harus Diabaikan

.DS_Store
.env
.env.local
.vscode/

------------------------------------

LARAVEL (BACKEND)

------------------------------------

/backend/vendor
/backend/node_modules
/backend/public/hot
/backend/storage/.key
/backend/public/storage
/backend/.phpunit.result
/backend/Homestead.json
/backend/Homestead.yaml
/backend/bootstrap/cache/.php

------------------------------------

REACT (FRONTEND)

------------------------------------

/frontend/node_modules
/frontend/build
/frontend/dist
/frontend/temp
/frontend/coverage